
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');


*
{
    padding: 0%;
    margin: 0%;
    font-family: 'Alkatra', cursive;
  }
  body
  {
    background-color: #588157;
  }
.logo{
    font-size: 26px;
    color: #a3b18a;
    font-weight: bold;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #283618;
    padding: 10px;
  }
  
  .card
  {
    margin-left: 40px;
    /* background-color: #a3b18a; */
    height: 400px;
    max-width:300px;
  }
  .msg
  {
    text-align: center;
    margin: auto;
    text-overflow: clip;
    color: black;
  }

.allCard
{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  padding: 45px;
  row-gap: 50px;
  margin-left: 100px;
  max-width: 1300px; 
  background-color: #dad7cd;
}

.navbar a
{
  font-size: 22px;
  color: black;
}
.navbar a:hover
{
  color: #a3b18a;
}
.imgtag
{
  z-index: 1;
  height: 100%;
  position: absolute;
}
.content
{
  z-index: 1;
  background-color: #a3b18a;
  position: absolute;
  bottom: 0%;
  width: 298px;
  height: 50px;
  transition-duration: 1s;
}
.info
{
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.5s;
}
.content:hover .info
{
    opacity: 1;
    visibility: visible;
    transition-duration: 1s;
}
.title
{
  font-size: 22px;
  align-items: center;
  font-weight: bolder;
}
.content:hover
{
  transition-duration: 1s;
  height: 320px;
}
.top-btn
{
  border-color: transparent;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  right: 0%;
}
.foot
{
 height: 70px;
 background-color: #283618;
 font-size: 20px;
 font-style: bold;
 color: #a3b18a;
 bottom: 0%;
}
/* .page
{
margin-left: 50%;
} */
.navicon
{
  font-weight: bolder;
  font-size: 27px;
}



@media only screen and (max-width: 600px) {
  .allCard {
    width: 300px;
  }
  .mainCard 
  {
    height: 300px;
    width: 200px;
    margin-left: 5px;
  }
  .content
  {
    width: 200px;
    height: 50px;
  }
  .content .info
  {
    opacity: 1;
    visibility: hidden;
  }
  .content:hover
  {
    height: 50px;
    transition-duration: 0s;
  }
  .content:hover .info
  {
    visibility: hidden;
  }
}